.header-box {
    border: 5px solid greenyellow;
    padding: 20px;
}

.left-box {
    border: 5px solid red;
}

.right-box {
    border: 5px solid blue;
}

.righttop-box {
    border: 5px solid blueviolet;
}

.rightbottom-box {
    border: 5px solid yellow;
}