.header-box {
    padding: 20px;
    background-color:whitesmoke;
    margin-bottom: 10px;
}

.left-box {
    width: 40%;
    margin-right: 40px;
    margin-left: auto;
    background-color:whitesmoke;
}

.right-box {
    text-align: center;
    width: 50%;
    margin-right: auto;
    background-color:azure;
}

.righttop-box {
    margin: 5px;
    padding: 5px;
}

.rightbottom-box {
    margin: 5px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.form {
    margin: 5px auto;
}

button {
    width: 100%;
}